<div class="table-wrapper col-12">
  <div class="row col-10">
    <ng-container *ngIf="tableFilter.inputFieldLabel">
      <app-input-field
        class="col-10 col-md-5"
        [label]="tableFilter.inputFieldLabel"
        [inputValue]="inputValue"
        (inputValueChange)="onTextTyped($event)"
      ></app-input-field>
    </ng-container>
    <ng-container *ngIf="tableFilter.dropdownDefinition">
      <app-dropdown-field
        class="col-10 col-md-5"
        [label]="tableFilter.dropdownFieldLabel"
        [dropdownValue]="dropDownSelectedValue"
        (dropdownValueChange)="onOptionSelected($event)"
        [dropdownItens]="tableFilter.dropdownDefinition"
        [disabled]="!!inputValue"
      ></app-dropdown-field>
    </ng-container>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container
      *ngFor="let colHeader of columnsToDisplay"
      [matColumnDef]="colHeader.colHeaderValue"
    >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="fs-6">{{ colHeader.colHeaderText }}</span>
      </th>
      <td
        class="text-truncate"
        style="max-width: 300px"
        mat-cell
        *matCellDef="let row; let i = index"
      >
        <ng-container *ngIf="editingRows[i] && !colHeader?.notEdit; else displayCell">
          <app-dropdown-field
            *ngIf="
              typeof row[colHeader.colHeaderValue] === 'boolean';
              else: normalInput
            "
            [(dropdownValue)]="row[colHeader.colHeaderValue]"
          ></app-dropdown-field>
          <ng-template #normalInput>
            <app-input-field
              class="w-100"
              [(inputValue)]="row[colHeader.colHeaderValue]"
            ></app-input-field>
          </ng-template>
        </ng-container>

        <ng-template #displayCell>
          <ng-container
            *ngIf="
              typeof row[colHeader.colHeaderValue] === 'boolean';
              else: normalRow
            "
          >
            <span class="fs-6">
              {{ row[colHeader.colHeaderValue] | booleanToText }}
            </span>
          </ng-container>
        </ng-template>

        <ng-template #normalRow>
          <span class="fs-6">{{ row[colHeader.colHeaderValue] }}</span>
        </ng-template>
      </td>
    </ng-container>

    <ng-container
      *ngIf="editOptions.allowAll || editOptions.allowExclusion"
      matColumnDef="delete"
    >
      <th mat-header-cell *matHeaderCellDef class="text-center fs-6">Delete</th>
      <td mat-cell *matCellDef="let row">
        <span class="d-flex align-items-center flex-column">
          <mat-icon
            fontIcon="delete"
            class="my-1 table-icon"
            (click)="onDeleteRow(row)"
          ></mat-icon>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef class="text-center fs-6">Editar</th>
      <td mat-cell *matCellDef="let row; let i = index">
        <ng-container *ngIf="editingRows[i]; else editButton">
          <span class="d-flex align-items-center flex-column">
            <mat-icon
              fontIcon="check"
              class="my-1 table-icon"
              (click)="saveRow(row, i)"
            ></mat-icon>

            <mat-icon
              fontIcon="cancel"
              class="my-1 table-icon"
              (click)="cancelEdit(i)"
            ></mat-icon>
          </span>
        </ng-container>
        <ng-template #editButton>
          <span class="d-flex justify-content-center">
            <mat-icon
              fontIcon="edit"
              class="my-1 table-icon"
              (click)="editRow(row, i)"
            ></mat-icon>
          </span>
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns()"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
