@use "variables";

table {
  table-layout: fixed;
  overflow-x: auto;
}

.table-wrapper {
  overflow-x: auto;
}

.table-icon {
  color: variables.$icon-color;
  cursor: pointer;
  &:hover {
    color: variables.$hover;
  }
}
