@use "variables" as *;

.overlay {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  background: $background-overlay !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 999999 !important;
}

mat-progress-spinner {
  display: block !important;
  z-index: 10000 !important;
  width: 80px !important;
  height: 80px !important;
  &.mdc-circular-progress__indeterminate-circle-graphic {
    stroke: $spinner-color;
  }
}

.toolbar-logo {
  height: 40px;
  max-height: 100%;
  object-fit: contain;
}
