
$title-color: #0083c1;
$label-color: #58595b;
$fields-internal-font-color: #58595b;
$icon-color: #00acd8;
$button-background: #00acd8;
$hover: #006098;
$primary-background: white;
$secondary-background: #f1f2f3;
$background-overlay: #f1f2f3b3;
$button-font-color: #f1f2f3;
$alert-color: #d80b0b;
$highlight-color: #33ecff;
$primary-border-colors: #d0d2d3;
$secondary-border-colors: #f1f1f2;
$disabled-buttom-background: #d0d2d3;
$spinner-color: #006098;
$shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


$default-font-size: 1rem;
$sub-title-font-size: 1.25rem; 
$title-font-size: 1.5rem;


